* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

header {
    background-color: #EAC926;
    padding: 20px;

}


.renglon, .seccion-ofertas, .seccion-visita {
    display: flex;
    flex-wrap: wrap;
}

.imagen-mercado {
    padding: 20px 15px 15px;
}

ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.burger {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.fas {
    color: #fff;
    font-size: 20px;
    background-color: #1259c3;
    padding: 10px 12px;
    margin: -10px;
    border-radius: 10%;
    text-align: center;
}

h2{
    size:24px;
    margin: 15px 2px;
}

.descripcion{
    size: 16px;
} 

.descuentos{
    size: 16px;
    width:40%;
    color: #39b54a;
}

.precio {
    size: 18px;
    width:50%;
}

.compra-cuotas {
    text-align: center;
}

.camionenvio {
    color: #39b54a;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    border-color: #39b54a;
    border: #39b54a solid 1px;
    padding: 5px;
    position: absolute;
    right: 20px;
    font-size: 16px;
    width: 30px;
    height: 30px;

}
.camionenvio:hover{
    transform:rotate(-90deg);
}

main 
{
    text-align: center;
    width: 90%;
    margin: auto;
}

.producto 
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
}

.detalles
{
    border-top: solid 1px #ebebeb;
    border-left: 15px;
    border-right: 15px;
    position: relative;
    
}

.fa-user-shield, .fa-gift, .fa-credit-card 
{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}

.items-footer 
{
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;  
}
/* tablet */
@media (min-width: 361px) {
    .producto{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-grow: 50%;
    }
    .burger{
        display: none;
    }  
}

/* desktop */
@media (min-width: 769px) 
{   .producto
    {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-grow: 25%;
    }
    .listaProducto
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}


